html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  HTML, body {
    margin: 0px;
    padding: 0px;
      border: 0px;
    }

    @font-face {
        font-family: 'pp_neue_montrealbold';
        src: url('/font/ppneuemontreal-bold-webfont.woff2') format('woff2'),
             url('/font/ppneuemontreal-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'pp_neue_montrealbook';
        src: url('./font/ppneuemontreal-book-webfont.woff2') format('woff2'),
             url('./font/PPNeueMontreal-Book.otf') format('opentype'),
             url('./font/ppneuemontreal-book-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'pp_neue_montrealthin';
        src: url('/font/ppneuemontreal-thin-webfont.woff2') format('woff2'),
             url('/font/ppneuemontreal-thin-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }

html {
    background-color: #1c1c1c;
    font-family: "pp_neue_montrealbook";
    width: 100vw;
}

.body-wrapper {
    overflow-x: hidden;
}

.h1-scroll {
    font-size: 30em;
    font-family: "pp_neue_montrealbook";
    color: #fff;
    white-space: nowrap;
    animation-name: title-scroll;
    animation-duration: 200s;
    animation-timing-function: linear;
    margin: 0;
    margin-top: -200px;
    margin-bottom: -70px;
   

   
}

@keyframes title-scroll {
    from{ transform: translateX(0%);}
    to{ transform: translateX(-1000%);}
}

.h1-title {
    color: #fff;
    font-family: "pp_neue_montrealbook";
    font-size: 4.5em;
    padding-left: 10px;
    margin: 0 auto;
    margin-top: 10px;
   
}

.line-break {
    width: 95vw;
    border-bottom: .1em solid white;
    margin: 0;
    margin: 0 auto;

}

p{
    color: rgb(216, 216, 216);
    font-family: "pp_neue_montrealbook";
    font-size: 1.5em;
    padding-left: 10px;
    margin: 0 auto;
    margin-top: 30px;
    font-weight: 400;
   
}

@media screen and (min-width:30em) {

    @keyframes title-scroll {
        from{ transform: translateX(0%);}
        to{ transform: translateX(-290%);}
    }

    .h1-scroll {
        font-size: 30em;
        color: #fff;
        white-space: nowrap;
        animation-name: title-scroll;
        animation-duration: 250s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        margin: 0;
        margin-top: -200px;
        margin-bottom: -70px;
       
    
       
    }

    .h1-title {
        color: #fff;
        font-size: 5em;
        padding-left: 2.5vw;
        margin: 0 auto;
        margin-top: 10px;
       
    }
    
    .line-break {
        width: 95vw;
        border-bottom: .1em solid white;
        
        margin: 0 auto;
    
    }
    
    p{
        color: rgb(216, 216, 216);
        font-size: 1.7em;
        padding-left: 2.5vw;
        margin: 0 0;
        margin-top: 10px;
        font-weight: 400;
       
    }
}